.sectionNewsletter{
    &__input{
        font-size: $small;
        font-family: $fuente-raleway;
        color: $quick-silver;
        width: 80%;
        height: 35px;
        padding: 0px 15px;
        margin-top: 10px;
    }
}